<br/>
<div class="card card-outline-info w-75 mx-auto" [ngClass]="display">
  <div class="card-header bg-info text-white">Aplicaciones Disponibles</div>
  <div class="card-block">

      <div class="card card-outline-info w-25 float-left " style="height:400px;overflow:hidden;" *ngFor="let a of apps">
        <img class="card-img-top" width="100%" height="180" alt="Card image cap" src="/webapps/icons/{{a.icon}}"/>
        <div class="card-block">
          <h4 class="card-title">{{a.name}}</h4>
          <p class="card-text">{{a.descripcion}}</p>
          <a href="{{a.uriname}}" class="btn btn-info">Ir a la aplicación</a>
        </div>
      </div>

  </div>
</div>